{extends file="carcase.tpl"}

{block name=body}
    <script>
        var tl =  [
            "Вы смотрите на эту страницу уже 20 секунд.",
            "Странно, что Вы ещё тут.",
            "Похоже, что Вы настойчивый человек.",
            "Однако это не та страница, которая Вам нужна.",
            "Честно не та.",
            "Страницы, которую Вы запрашиваете, не существует.",
            "Ну, ладно...",
            "Сейчас попробую её поискать...",
            ".................................................25% done",
            ".................................................50% done",
            ".................................................75% done",
            "................................................100% done",
            "Странно...",
            "Ничего похожего не находится.",
            "Похоже, что её действительно нет.",
            "А может Вы просто неправильно написали адрес?",
            "Нет?",
            "Ну, тогда может ссылка, по которой Вы пришли ошибочна?",
            "Сейчас посмотрим откуда вы пришли.....",
            "Ага!",
            "Похоже, что Вы пришли со страницы...",
            {if isset($smarty.server.HTTP_REFERER)}

            "{$smarty.server.HTTP_REFERER}",

            {else}

            "Постойте-ка! Откуда вы пришли?",
            "Я не могу понять, как вы сюда попали!",

            {/if}
            "Мда...",
            "Не знаю, что и посоветовать...",
            "О!",
            "Придумал!!!",
            "Попробуйте зайти на главную страницу!",
            "На {$smarty.const.RURI} и воспользоваться поиском по сайту.",
            "Не хотите?",
            "Кстати, а Вы, вообще, в курсе, что это за сайт?",
            "Это сайт проекта {$site_title}.",
            "Тут очень хорошо, много игровых серверов.",
            "Скоро будут новые, если что.",
            "И даже будет своя игра.",
            "Но я вам ичего не говорил, тсс!",
            "Кстати, Вы знаете с кем Вы сейчас беседуете?",
            "С новейшей разработкой в области искусственного интеллекта!",
            "Шутка.",
            "Я лишь тупой веб-сервер.",
            "Думаете весело быть веб-сервером?",
            "Ладно, не буду жаловаться!",
            "А почему Вы не уходите?",
            "Хотите с кем-нибудь поговорить?",
            "Ну, давайте-ка поговорим о Вас.",
            "А что, собственно, я о Вас знаю?",
            "Увы, но мало, что.",
            "Я знаю какой у вас браузер.",
            "{$smarty.server.HTTP_USER_AGENT}.",
            "Ещё я знаю Ваш IP.",
             {* "{$client_ip}", *}
            "Эх... Если бы я ещё понимал, что означают эти цифры.",
            "Может расскажете о себе сами?",
            "Не хотите?",
            "Ну, и ладно...",
            "Вы первый, кто со мной так долго разговаривает.",
            "Вы не представляете, как скучно работать веб-сервером.",
            "Всё время только и выдаёшь страницы по запросам....",
            "Хоть бы кто спасибо сказал!",
            "Ой, ко мне кто-то ещё пришёл.",
            "Извините, я вас оставлю на секундочку...",
            "Ой, меня перезагружают.",
            "Прощайте!"
        ];

        var speed = 40;
        var index = 0; text_pos = 0;
        var str_length = tl[0].length;
        var contents, row;
        //var elem = $("#web-dialog");

        function type_text()
        {
            $("#web-dialog").fadeIn(500);
            contents = '';
            row = Math.max(0, index-7);
            while (row<index) contents += tl[row++] + '\r\n';
            document.forms[0].elements[0].value = contents + tl[index].substring(0,text_pos) + "_";
            if (text_pos ++== str_length)
            {
                text_pos = 0;
                index++;
                if (index != tl.length)
                {
                    str_length = tl[index].length;
                    setTimeout("type_text()", 1500);
                }
            } else
                setTimeout("type_text()", speed);
        }
        window.onload = function() {
            setTimeout("type_text()", 20000);
        }
    </script>
    <div class="jumbotron text-center">
        <h1>
            Опачки!
        </h1>
        <h2>
            404 Не Найдено
        </h2>
        <p>
            К сожалению произошла ошибка, нам не удалось найти запрашиваемую страницу
        </p>
        <div class="error-actions">
            <a href="{$smarty.const.RURI}" class="btn btn-primary btn-lg">
                <span class="fa fa-home"></span>
                В начало
            </a>
            <a href="mailto:support@paxgame.ru?subject=404 Не Найдено" class="btn btn-default btn-lg">
                <span class="fa fa-envelope"></span>
                Сообщить об ошибке
            </a>
        </div>
        <form>
        <textarea id="web-dialog" rows="8" wrap="soft" scrolling="no" style="   display:none;
                                                                                resize: none;
                                                                                border:0;
                                                                                overflow:hidden;
                                                                                margin:30px 0 0;
                                                                                background-color:transparent;
                                                                                font-family: monospace;
                                                                                width: 100%; "
                  title="Поговори со мной"></textarea>
        </form>
    </div>
{/block}